<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Por qué me ofrecen una actualización a una categoría agotada?</h2>
    </ion-item>
    <h5 class="titulo">
      Es posible que la categoría de camarote por la que está pujando no esté disponible hoy, 
      pero mantendremos su oferta en caso de que una habitación esté disponible o haya una cancelación.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cuándo sabré si mi oferta RoyalUp fue aceptada?</h2>
    </ion-item>
    <h5 class="titulo">
      Su oferta puede aceptarse en cualquier momento desde el momento en que se envía hasta 1 día antes de la salida del viaje.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué pasa con mi Upgrade RoyalUp si cancelo mi reserva?</h2>
    </ion-item>
    <h5 class="titulo">
      Una vez que se acepta su oferta RoyalUp, el monto de la mejora pagado es final y no reembolsable, incluso en caso de cancelación de la reserva.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué pasa con las promociones que ya tengo si cambio de categoría a través de RoyalUp?</h2>
    </ion-item>
    <h5 class="titulo">
      Podrás conservar las promociones que ya tienes según la categoría de camarote reservada originalmente. Sin embargo, no se agregarán promociones adicionales a su reserva. 
      Por ejemplo, si reservaste una promoción para balcones y actualizas a una suite, seguirás manteniendo la misma promoción para balcones. 
      La promoción no mejorará con tu mejora Royal Up
    </h5>
  </ion-content>
</div>