<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cómo me inscribo en Crown & Anchor Society?</h2>
    </ion-item>
    <h5 class="titulo">
      Después de completar su primer crucero de Royal Caribbean, quedará inscrito automáticamente y comenzará a recibir los beneficios de membresía 
      (para residentes de EE. UU. y Canadá). También tienes la opción de inscribirte en cualquier momento, incluso antes de tu primer crucero. 
      Si ha navegado con nosotros anteriormente pero aún no está inscrito, puede comunicarse con Crown & Anchor Society al (800) 
      526-9723 para inscribirse antes de su próximo crucero. Para quienes se encuentran fuera de EE. UU. y Canadá, llame al (541) 285-9723. 
      El horario de atención es de lunes a viernes, de 9 a. m. a 9 p. m., hora del Este, y de sábado a domingo, de 9 a. m. a 6 p. m., 
      hora del Este. Asegúrese de tener a mano la información de su crucero anterior: nombre(s) del barco, fecha(s) de salida y número(s) de reserva.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué son los puntos de crucero del programa de fidelización Crown & Anchor Society?</h2>
    </ion-item>
    <h5 class="titulo">
      Los Cruise Points son la forma de obtener el estatus de miembro de Crown & Anchor Society. Puede ganar un punto de crucero por cada noche de crucero 
      que navegue con nosotros y DOBLAR los puntos cuando compre una suite. Por ejemplo, si completa un crucero de 7 noches, ganará 7 Puntos de Crucero y 
      cuando compre una suite, ganará 14 Puntos de Crucero. Se aplican más términos y condiciones. Los puntos no se registran ni se aplican hasta que usted completa su navegación. 
      Por ejemplo, si se gradúa del nivel Oro al nivel Platino en su navegación actual, no recibirá los beneficios del nivel Platino hasta su próxima navegación.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cuáles son los beneficios del programa de fidelización de Crown & Anchor Society?</h2>
    </ion-item>
    <h5 class="titulo">
      Después de completar su primer crucero, alcanzará el nivel Gold en Crown & Anchor Society, lo que desbloqueará numerosos beneficios exclusivos, 
      como ahorros especiales en vacaciones en crucero, interesantes ofertas a bordo cada vez que navegue con nosotros y más. 
      Los miembros también reciben comodidades adicionales, beneficios de planificación de cruceros y acceso a eventos a bordo.
       Cuanto más navegues, más beneficios obtendrás. Para asegurarse de recibir todos los beneficios a los que tiene derecho, proporcione 
       siempre su número de membresía de Crown & Anchor al reservar su crucero y asegúrese de estar suscrito a nuestras comunicaciones por correo electrónico.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Debo llevar mi número de membresía de Crown & Anchor a bordo?</h2>
    </ion-item>
    <h5 class="titulo">
      Es importante proporcionar siempre su número de membresía al reservar unas vacaciones en un crucero de Royal Caribbean. Recuerde a su asesor de viajes que lo incluya. 
      Después de todo, su número de membresía de Crown & Anchor es la única forma en que podemos asegurarnos de que reciba todo el reconocimiento y los beneficios que se merece. 
      Por lo tanto, si olvida incluir su número de membresía al hacer una reserva, debe traerlo y entregárselo al Embajador de Lealtad cuando esté a bordo del barco. 
      Su nivel se imprimirá automáticamente en su tarjeta SeaPass si su número estaba incluido al hacer su reserva
    </h5>
  </ion-content>
</div>
