.colorBlanco{
    color:white;
}

.align-center{
    text-align: center;
}

.titulo{
    text-align: center;
    margin: 20px;
}

.centrar{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 10%;
    margin: 12px;
    text-align: center;
}

.margen{
    margin: 10px;
}