<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cuándo vence el pago final de mis vacaciones en crucero?</h2>
    </ion-item>
    <h5 class="titulo">
      El pago final del saldo debe recibirse en Royal Caribbean International al menos 50 días antes de la fecha de salida para vacaciones en crucero de 1 a 14 noches 
      y 120 días antes de la fecha de salida para vacaciones en crucero de 15 noches o más. El calendario de pagos para grupos es diferente al de particulares. 
      Por lo general, tendrá acceso a los documentos de su crucero 30 días antes de su salida, siempre que su reserva esté finalizada.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué es el Programa Mejor Precio Garantizado de Royal Caribbean?</h2>
    </ion-item>
    <h5 class="titulo">
      ¿Encontraste un mejor precio que tu crucero reservado? Nuestro Mejor Precio Garantizado te permite aprovechar un mejor precio hasta 48 horas desde que haces tu reserva, 
      sólo tienes que llamarnos o utilizar nuestro formulario en línea. Recibirás la diferencia como un crédito a bordo no reembolsable dentro del pago final o 
      un ajuste de la tasa fuera del pago final
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cómo puedo realizar un pago en mi reserva?</h2>
    </ion-item>
    <h5 class="titulo">
      Puedes realizar un pago online accediendo a tu reserva si has reservado directamente con Royal Caribbean siguiendo los pasos a continuación. 
      Si su reserva se generó a través de un asesor de viajes, no podrá ver ni pagar los saldos en línea y deberá comunicarse con su agente de reservas original 
      para realizar los pagos.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Puede cambiar el precio de un crucero?</h2>
    </ion-item>
    <h5 class="titulo">
      Royal Caribbean International se reserva el derecho de cambiar las tarifas publicadas, ya sea aumentándolas o disminuyéndolas, incluidas las tarifas de cruceros 
      y tarifas aéreas, sin previo aviso. Nos reservamos el derecho de imponer, sin previo aviso, un suplemento por combustible u otras materias sobre las reservas 
      existentes o nuevas (estén o no pagadas en su totalidad), como se estipula en nuestro contrato de ticket para pasajeros. 
      Asimismo, nos reservamos el derecho de traspasar, también sin previo aviso, los recargos de combustibles y otros que impongan terceros. 
      Los huéspedes serán responsables de los impuestos, tarifas o recargos gravados por organismos gubernamentales o semiautónomos.
    </h5>
  </ion-content>
</div>

