<ion-menu contentId="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button [routerLink]="['/pagina-principal']">
        <ion-label>Pagina Principal</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/preguntas-frecuentes']">
        <ion-label>Preguntas frecuentes</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/guias-cruceros']">
        <ion-label>Guías de Cruceros</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/main']">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Guias de Cruceros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
      <ion-item color="primary">
        <h2 class="align-center">1. ÁMSTERDAM, PAÍSES BAJOS</h2>
      </ion-item>
      <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/amsterdam-netherlands/overview/amsterdam-dam%20square-sunset.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Pocas ciudades son tienen más esencia europea que Ámsterdam. <br>Desde el momento en que sales de la Estación Central de Ámsterdam y subes a un tranvía que se dirige 
        al sur hacia la plaza Dam, el encanto de Ámsterdam es deliciosamente abrumador. <br>Pide unas papas fritas cortadas a mano o compra en los legendarios 
        grandes almacenes De Bijenkorf, y luego dirígete a uno de los canales icónicos de Ámsterdam. <br>Viaja como un verdadero lugareño y alquila una bicicleta 
        (Vondelpark es apto para ciclistas). <br>Desde los coloridos puestos del Bloemenmarkt lleno de tulipanes hasta los almacenes repletos de arte y cultura a 
        lo largo de Museumplein (como mínimo, visita la Casa de Ana Frank y el Museo Van Gogh), rápidamente te darás cuenta de por qué tantos de los mejores 
        cruceros europeos pasan por Ámsterdam.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">2. ATENAS, GRECIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/greece-greek-isles/night-time-plaza-in-athens-greece.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Puede que saltarse Atenas sea tentador, en especial si nunca has estado en Grecia o solo quieres llegar a islas como Miconos y Santorini. <br>
        Sin embargo, ya sea que tengas unas horas o unos días para relajarte y descansar, conoce la capital griega y la cuna de la civilización occidental lo mejor que puedas. <br>
        Sube a la Acrópolis y disfruta de un impresionante panorama de la ciudad, pero vuelve a bajar a los mercados de la ecléctica calle Monastiraki antes de la cena, si puedes.<br>
        Atenas ofrece una amplia gama de experiencias culinarias. <br>
        Prueba comidas callejeras como gyros, que se preparan con carne de cerdo bien caliente y salsa fresca de yogur tzatziki, o acércate a restaurantes galardonados 
        para disfrutar, en un servicio completo, de clásicos griegos como moussaka (cazuela de berenjena), ensaladas verdes con queso feta picante y aceitunas Kalamata amargas, 
        o pasteles baklava de masa hojaldrada servidos con miel local y relleno de deliciosas nueces.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">3. BARCELONA, ESPAÑA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/barcelona-spain/overview/spain-barcelona-la-sagrada-familia-couple-walking.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        El fresco ambiente costero de Barcelona encaja a la perfección con los siglos de arte y cultura que ha impulsado. <br>
        Pass la mañana tomando el sol en la playa de La Barceloneta y luego sube al Park Güell, una de las obras más conocidas del visionario artista Antoni Gaudí, 
        a tiempo para la puesta de sol. <br>La otra obra más famosa de Gaudí (la catedral de la Sagrada Familia, que ha estado en construcción durante más de un siglo) 
        es parte de lo que hace de Barcelona uno de los mejores lugares para visitar en Europa.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">4. COPENHAGE, DINAMARCA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/copenhagen-denmark/overview/denmark-copenhagan-nyhavn-harbor-traditional-homes-boats.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Muchos de los mejores cruceros por Europa también paran en Copenhague, aunque no en el icónico puerto de Nyhavn. <br>Una vez que te encuentras en el puerto, 
        puedes caminar en muchas direcciones. <br>Busca emociones en los Jardines de Tivoli, uno de los parques de atracciones más antiguos de Europa, o puedes 
        dirigirte hacia la estatua de La Sirenita (la anterior a Disney). <br>Copenhague es también el sueño de un aficionado a la historia, sin mencionar 
        el paraíso para un amante de la arquitectura. <br>Haz un recorrido por Amalienborg, el palacio de estilo rococó del siglo XVIII y la residencia 
        de la reina danesa durante el invierno. <br>O regresa en el tiempo a 100 años antes en el castillo de Rosenborg, donde agujas renacentistas danesas 
        del siglo XVI se elevan sobre su jardín cuidado por expertos. <br>El palacio de Christiansborg también merece una visita.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">5. DUBLÍN, IRLANDA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/dublin-ireland/overview/ireland-dublin-river-liffey-sunset.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Irlanda se encuentra lo suficientemente lejos del continente europeo como para olvidar con facilidad lo icónicamente europea que es su capital, Dublín. <br>
        Sin embargo, ya sea que mires hacia la ciudad, con una pinta en la mano, desde la plataforma de observación de la fábrica de cerveza Guinness o que recuerdes 
        a los personajes de las novelas de James Joyce mientras recorres las calles históricas de Dublín, nunca hay duda de en qué continente estás parado.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">6. DUBROVNIK, CROACIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/croatia/dubrovnik-croatia-seaside-walls.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Puede que "Juego de tronos" (Game of Thrones) haya terminado, pero aún puedes hacer un tour temático de Westeros por la Ciudad Vieja amurallada si deseas ver dónde 
        se filmaron tus escenas favoritas. <br>También puedes subir las paredes por tu cuenta para contemplar los techos de terracota y las calles empedradas de la ciudadela costera.<br> 
        Después, siéntate en una mesa al aire libre en cualquiera de las decenas de restaurantes, que destacan todo un mundo gastronómico, no solo los favoritos croatas como 
        el crni rizot o risotto negro.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">7. LISBOA, PORTUGAL</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/lisbon-portugal/overview/portugal-lisbon-town-aerial-castle.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Comienza en Praça do Comércio, cuyas majestuosas hileras de arcos tienen un color amarillo soleado que es icónico de Portugal. <br>
        Desde aquí, camina o toma un tranvía Americano hasta la empinada y sinuosa Rua Augusta, que serpentea a través de la moderna Baixa Chiado en su camino hacia Alfama 
        y el mirador de Santa Luzia. <br>Otra forma de explorar Lisboa, ya sea que llegues aquí a través de uno de los mejores cruceros por Europa o por tu cuenta, 
        es dirigirse hacia el oeste a lo largo del río Tajo. <br>Continúa con una visita al Monasterio de los Jerónimos en Belem, que data del siglo XV, 
        con un bocado de un dulce y cremoso pastel de nata, o cruza el Puente de Abril (la respuesta de Lisboa al Golden Gate) y disfruta de un panorama 
        desde Cristo Rei, que evoca al Cristo Redentor de Río de Janeiro.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">8. NIZA, FRANCIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/france/france-nice-villefranche-sur-mer-boats.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Si estás a la caza de los destinos de cruceros más hermosos de Europa, no busques más allá de la ciudad de Niza, el centro de la Riviera francesa.<br> 
        Toma el sol en las costas rocosas y a lo largo de las aguas cristalinas y de color turquesa de la Promenade des Anglais o pasea por el mercado de flores 
        de Cours Saleya en el casco antiguo, ya sea para comprar un ramo de girasoles recién cortados en la cercana Provenza o para sentarse a disfrutar de 
        algunas de las mejores pizzas que encontrarás fuera de Italia.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">9. RIGA, LETONIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/riga-latvia/overview/latvia-riga-st.-peter-church-watch-tower.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Cuando atracas en Riga, la capital de Letonia, es posible que sientas confusión de no saber dónde te encuentras exactamente. <br>
        Ingresa al casco antiguo de Riga, donde estructuras como la Iglesia de San Pedro y la Catedral de Riga se elevan hacia el cielo, 
        y es posible que sientas que, por accidente, has llegado a Estocolmo. <br>Entretanto, más al este, a lo largo del río Daugava, 
        estructuras como el Mercado Central de Riga, de estilo Art Deco, y la Academia de Ciencias de Letonia, que data de la era soviética, evocan el siglo XX.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">10. VENECIA, ITALIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/venice-italy/cuisine/venice-italy-waterfront-caf%C3%A9.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Hay pocos destinos en Europa, y mucho menos en el mundo, más singulares que la "ciudad flotante" de Venecia. <br>Ya sea que cruces el puente de Rialto sobre el Gran Canal 
        o que contrates a un gondolero para que te lleve en un paseo privado y sinuoso a través de vías fluviales más pequeñas, es difícil no enamorarse de la ciudad más 
        romántica de Italia. <br>Pasea por la Plaza de San Marcos al caer la noche, si, por supuesto, no te detienes en un delicioso restaurante en el camino.
      </h5>
      <p></p>
  </ion-content>
</div>