<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Hay estacionamiento disponible en la terminal de cruceros del puerto de Royal Caribbean?</h2>
    </ion-item>
    <h5 class="titulo">
      La mayoría de los puertos cuentan con estacionamientos y garajes para huéspedes de cruceros por una tarifa mínima. Es por orden de llegada. Cada muelle varía.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Dónde está el Puerto de Miami?</h2>
    </ion-item>
    <h5 class="titulo">
      PortMiami - Dodge Island 1015 N. America Way Miami, FL 33132 Sitio web de PortMiami Información de la terminal Al llegar a PortMiami, 
      siga la señalización hasta su terminal correspondiente, ya que puede cambiar.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Dónde está Puerto Everglades (Fort Lauderdale)?</h2>
    </ion-item>
    <h5 class="titulo">
      Port Everglades 1850 Eller Drive Fort Lauderdale, Florida 33316 Encuentre más información sobre Port Everglades Cómo llegar Royal Caribbean a la 
      terminal de cruceros de Fort Lauderdale (Everglades): desde el aeropuerto internacional de Fort Lauderdale (5 millas)
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Dónde está Puerto Cañaveral (Orlando)?</h2>
    </ion-item>
    <h5 class="titulo">
      Información sobre puertos y terminales Puerto Cañaveral Orlando está ubicado en 445 Challenger Road. 
      Hay varias terminales en Puerto Cañaveral para los barcos de Royal Caribbean. Terminal de cruceros n.º 1 9050 Discovery Road Cabo Cañaveral, 
      Florida 32920 Terminal de cruceros n.º 5
    </h5>
  </ion-content>
</div>
