<ion-menu contentId="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button [routerLink]="['/pagina-principal']">
        <ion-label>Pagina Principal</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/preguntas-frecuentes']">
        <ion-label>Preguntas frecuentes</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/guias-cruceros']">
        <ion-label>Guías de Cruceros</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/main']">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Guias de Cruceros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
      <ion-item color="primary">
        <h2 class="align-center">CALA COTICCIO, CERDEÑA, ITALIA</h2>
      </ion-item>
      <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/italy/italy-sardinia-cala-coticcio-blue-ocean-rocks.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Puede que te sorprenda saber que "Tahití" se encuentra entre las playas más hermosas para visitar en Europa, al menos hasta que conozcas la historia de fondo. <br>
        Ese es el apodo que los lugareños le dan a Cala Coticcio, un destino de playa escondido y romántico dentro del archipiélago de Maddalena, 
        al noreste de la isla italiana de Cerdeña. <br>A la temática del Pacífico Sur se suma el hecho de que para llegar a Cala Coticcio hay que tomar un barco desde un 
        lugar llamado Palau, que también evoca un paraíso mucho más lejano.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">KYNANCE COVE, CORNWALL, INGLATERRA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/british-isles/england-cornwall-kynance-cove-beach-cliffs.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Es tentador pensar que las mejores playas de Europa se encuentran a lo largo del Mediterráneo, pero basta un solo viaje a Cornwall, 
        en el suroeste de Inglaterra para desmentir esa idea. <br>En particular, vale la pena visitar las enormes rocas negras y el agua lapislázuli de Kynance Cove, 
        suponiendo que tengas unos días para recorrer antes de tomar un crucero desde Southampton, y algunos amigos para compartir las labores de conducción. <br>
        Esta parte de Cornwall, conocida como la península de Lizard, también es sin duda romántica. <br>Una colección de encantadoras cabañas se asientan justo detrás de la playa, 
        lo que convierte a Kynance Cove en el lugar perfecto para una cita de enamorados.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">PLAYA PLOCE, BUDVA, MONTENEGRO</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/mediterranean/kotor-montenegro-budva-beach-aerial-boats.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Cuando se trata de destinos de playa románticos en Europa, es posible que el pequeño Montenegro no esté en tu radar. <br>
        Sin embargo, la playa Ploče en Budva es un trozo de perfección absolutamente delicioso, ya sea que alquiles un automóvil 
        y conduzcas hasta allí cuando tu crucero por Europa esté atracado en la bahía de Kotor o que llegues por cuenta propia durante un viaje a los Balcanes.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">PORTO TIMONI, CORFÚ, FRECIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/greece-greek-isles/greece-corfu-beach-cliffs-blue-oceans.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        ¿Qué es mejor que encontrar una de las playas europeas más hermosas para visitar? ¡Encontrar dos en una! <br>Porto Timoni de Grecia se centra en una estrecha 
        franja de arena con mar a ambos lados, lo que significa que puedes elegir las playas que deseas visitar si tu próximo crucero por Grecia atraca en la isla de Corfú. <br>
        Intenta salir del agua justo antes del atardecer, cuando puedes caminar hasta el pueblo de Afionas y su impresionante mirador panorámico. <br>
        (Consejo profesional: ya sea que planees caminar o no, asegúrate de usar zapatillas deportivas en lugar de chanclas: el terreno en Porto Timino es rocoso y pronunciado, 
        ¡con la excepción de la arena de la playa!)
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">PRAIA DE BENAGIL, ALGARVE, PORTUGAL</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/spain-portugal-canary-islands/portugal-algarve-praia-de-benagil-blue-ocean-cliffs.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        La capital de Portugal, Lisboa, se encuentra entre los mejores destinos para ir de luna de miel en Europa. <br>
        Conoce la elegante ciudad paseando por los callejones adoquinados perfectos para una postal y detente en los miradouros que se encuentran 
        en las cimas de las colinas, como Castelo de São Jorge, Portas do Sol y Santa Luzia. Estas terrazas te ofrecen vistas impresionantes 
        de la Ciudad de las Siete Colinas y el mar. <br>También puedes subir al elevador de Santa Justa entre Baixa y Bairro Alto para llegar a otro mirador impresionante.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">SES ILLETES, FORMENTERA, ESPAÑA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/spain-portugal-canary-islands/spain-formentera-ses-illetes-beach-island-rope-entrance.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Las Islas Baleares de España son más famosas por la música house palpitante de la salvaje Ibiza, por lo que es posible que no esperes encontrar uno 
        de los destinos de playa más románticos de Europa a un corto trayecto en ferry. <br>Ubicada en las islas de Formentera, que son en sí un secreto de 
        viaje bien guardado, Ses Illetes evoca las visiones de que las fiestas en las arenas de Ibiza pueden alucinar, con una bahía de aguas azules escondida 
        y protegida por una península cubierta de pinos que la convierte en un lugar perfecto para ver la puesta de sol. <br>Si alquilas un bote privado de Ibiza a Formentera, 
        también podrás disfrutar del ambiente de la playa desde el mar en lugar de hacerlo desde la orilla.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">PLAYA DEL NAUFRAGIO, ZAKYNTHOS, GRECIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/greece-greek-isles/greece-zakynthos-shipwreck-beach-ocean.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Si la playa Navagio (del Naufragio) de Grecia no encabeza la lista de las playas europeas más hermosas para visitar, es sin duda la más viral. <br>
        Las imágenes aéreas de la playa, cuyas aguas de color azul eléctrico sobresalen entre los imponentes acantilados blancos como la nieve de la isla de Zakynthos, 
        se encuentran entre las imágenes de playa más omnipresentes de Europa, incluso si a menudo se etiquetan erróneamente como de algún lugar del otro lado del planeta. <br>
        Sin embargo, ya sea por el idioma en el que escuchas hablar a los capitanes de los barcos en tierra o por las generosas porciones de carne gyro que puedes disfrutar 
        en la ciudad más cercana, no hay duda de que estás en Grecia.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">TORRE DELL'ORSO, PUGLIA, ITALIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/italy/italy-puglia-torre-dell-orso-cliff-beach.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Italia está rodeada de mar en la mayoría de los lados, por lo que tiene sentido que puedas encontrar al menos dos de las mejores playas de Europa en Bella Italia. <br>
        Por supuesto, es difícil encontrar adjetivos en cualquier idioma para describir Torre dell'Orso, un refugio abandonado en la región de Puglia, 
        en el subestimado sureste del país, donde los acantilados de piedra caliza y las torres apiladas de piedra blanca y pura, contrastan con el agua 
        tan transparente como el cristal. <br>Torre dell'Orso también está muy cerca de otra playa increíble, conocida en español como la "Cueva de la Poesía", 
        que te dejará aún más boquiabierto (suponiendo que hayas podido cerrar la boca después de la impresión que produce Torre dell'Orso).
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">VILLEFRANCHE-SUR-MER, NIZA, FRANCIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/france/france-nice-villefranche-sur-mer-boats.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        ¿Prefieres destinos de playa románticos en Europa que sean accesibles y no recónditos? <br>Villefranche-sur-Mer, una bahía azul rodeada por una herradura de guijarros plateados, 
        está tan cerca de Niza, el principal destino de cruceros de Francia, que prácticamente se podría caminar hasta allí. <br>
        Bueno, suponiendo que no tomes un bote, como lo avalan los yates que se encuentran frente a la costa, Villefranche-sur-Mer 
        es tanto un destino para navegar como para bañarse. <br>También es un lugar para la cultura: después de terminar de tomar el sol, 
        visita la elegante Villa Ephrusi de Rothschild, una villa de principios del siglo XX con nueve jardines diseñados por expertos.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">ZLATNI RAT, BRAC, CROACIA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/croatia/croatia-zlatni-rat-beach-blue-ocean.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Zlatni Rat de Croacia es una de las playas más hermosas para visitar en Europa. <br>Una mirada al brillante banco de arena que se adentra en las aguas de color 
        turquesa del Adriático hará que reserves un viaje a la isla de Brač, incluso si aún no has considerado un crucero por Croacia. <br>
        Como es el caso de Porto Timoni en Corfú, la geografía de Zlatni Rat te ofrece dos hermosas playas para elegir.
      </h5>
      <p></p>
  </ion-content>
</div>