<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cómo obtengo etiquetas de equipaje?</h2>
    </ion-item>
    <h5 class="titulo">
      El documento de huésped real (eDocs, documento electrónico) que emitimos incluye una etiqueta de equipaje específica para el barco huésped, 
      la fecha de salida, el camarote y el número de cubierta. La etiqueta de la bolsa también proporciona información sobre cómo se debe utilizar.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué debo empacar para mis vacaciones en crucero con Royal Caribbean?</h2>
    </ion-item>
    <h5 class="titulo">
      Artículos personales y sugerimos que los huéspedes transporten todos sus medicamentos en su equipaje de mano para minimizar la posibilidad de desvío o 
      pérdida de medicamentos y recomendamos que todos los medicamentos permanezcan en sus envases originales etiquetados con receta
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cuánto equipaje puedo llevar a bordo de un crucero de Royal Caribbean?</h2>
    </ion-item>
    <h5 class="titulo">
      A cada huésped se le permite llevar una cantidad razonable de bienes personales (incluido equipaje) a bordo del barco; 
      sin embargo, para su comodidad y conveniencia, se recomienda que limite la cantidad de piezas que lleva
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cómo solicito etiquetas de equipaje de repuesto a Royal Caribbean?</h2>
    </ion-item>
    <h5 class="titulo">
      Si olvidó las etiquetas de su equipaje en casa, nuestros porteadores pueden obtener etiquetas de equipaje del barco en el muelle el día del embarque, 
      pero para evitar retrasos el día del embarque, le recomendamos que asegure sus etiquetas de equipaje antes de salir de casa.
    </h5>
  </ion-content>
</div>
