<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cuáles son los requisitos de exámenes de detección previos al crucero?</h2>
    </ion-item>
    <h5 class="titulo">
      Ya no se requieren pruebas previas al crucero para navegar en ninguno de nuestros viajes.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué vacunas se requieren para viajar en un crucero?</h2>
    </ion-item>
    <h5 class="titulo">
      Todos los huéspedes deben asegurarse de estar en buena forma médica y física para viajar. 
      Los Centros para el Control de Enfermedades (CDC) y la Organización Mundial de la Salud (OMS) brindan pautas sobre qué vacunas se requieren en cada país. 
      En muchos casos se recomiendan las vacunas, pero en algunas circunstancias, son requeridas por el país desde donde sale su crucero o los países que visitamos. 
      Le recomendamos que consulte con su profesional de la salud o con un especialista en medicina de viajes certificado por la OMS para obtener orientación. 
      Se puede acceder a otros recursos informativos en el sitio web de salud del viajero de los Centros para el Control y la Prevención de Enfermedades o llamando al número 
      gratuito (877) FYI-TRIP y en el sitio web de la Organización Mundial de la Salud. Ya no es necesaria la vacunación contra el COVID-19 para navegar, 
      aunque recomendamos que los huéspedes estén completamente vacunados contra el COVID-19. Si bien no se requiere vacunación, le solicitamos que informe 
      su estado durante el check-in.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué documentación de viaje necesito para embarcar?</h2>
    </ion-item>
    <h5 class="titulo">
      Todos deberán presentar una forma de identificación aceptada para abordar el barco según su nacionalidad/país de ciudadanía. 
      A los huéspedes que no traigan los documentos requeridos se les podrá negar el embarque.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué es lo más importante que hay que saber después de reservar un crucero?</h2>
    </ion-item>
    <h5 class="negrita">Recopilación de documentos:</h5>
    <h5 class="titulo">
      Asegúrese de tener las formas de identificación adecuadas necesarias para su crucero. Tómese suficiente tiempo para obtener o renovar su pasaporte, si es necesario. 
      Para que el proceso de embarque sea lo más sencillo posible, le recomendamos encarecidamente que visite RoyalCaribbean.com/onlinecheckin para realizar el check-in 
      en línea e imprimir su SetSail Pass a más tardar tres días antes de la fecha de salida. Además, los huéspedes deben consultar los requisitos de visa para su itinerario. 
      Obtenga más información sobre los documentos de viaje requeridos.
    </h5>
    <h5 class="negrita">
      Guía de vacunación:
    </h5>
    <h5 class="titulo">
      No se requiere la vacuna COVID-19 para navegar en ninguno de nuestros cruceros.
    </h5>
    <h5 class="negrita">
      Requisitos de prueba:
    </h5>
    <h5 class="titulo">
      Ya no se requieren pruebas previas al crucero para navegar en ninguno de nuestros cruceros.
    </h5>
    <h5 class="negrita">
      Antes de abordar:
    </h5>
    <h5 class="titulo">
      No olvide llevar en mano su pasaporte, SetSail Pass, objetos de valor y medicamentos en su bolso de mano. Necesitará su pasaporte y SetSail Pass para abordar el barco.
    </h5>
    <h5 class="negrita">
      Llegar al barco:
    </h5>
    <h5 class="titulo">
      Déjanos llevarte del aeropuerto al puerto con nuestro programa “Traslados”. Los “traslados” pueden estar incluidos en nuestras ofertas Air2Sea u Hotel. 
      También puedes adquirir este servicio por separado.
    </h5>
    <h5 class="negrita">
      Abordar el barco:
    </h5>
    <h5 class="titulo">
      Consulte su SetSail Pass para conocer los horarios de check-in específicos.
    </h5>
  </ion-content>
</div>
