<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué es el traslado en tren de Grandview en Alaska?</h2>
    </ion-item>
    <h5 class="titulo">
      Una relajante experiencia de traslado al inicio o al final del crucero. Embarque directo desde el muelle o el aeropuerto 
      (traslado complementario desde el Anchorage Hospitality Center hasta Grandview)
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Puedo unirme a un crucero de Royal Caribbean después de que comience o salir antes de que finalice?</h2>
    </ion-item>
    <h5 class="titulo">
      Royal Caribbean ya no permite a los pasajeros de cruceros planificar previamente el desembarque anticipado o el embarque tardío en ninguno de nuestros barcos.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué pasa si pierdo mi embarque debido a retrasos en el viaje?</h2>
    </ion-item>
    <h5 class="titulo">
      Los huéspedes que pierdan su crucero debido a retrasos en el viaje pueden comunicarse con el Equipo de viajes de emergencia (ETT) para analizar sus opciones en el futuro. 
      En situaciones específicas, cuando el huésped tenga la documentación adecuada, es posible unirse al crucero en el siguiente puerto.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Hay transporte disponible en los puertos de escala para ir desde la terminal a la ciudad/centro?</h2>
    </ion-item>
    <h5 class="titulo">
      El transporte varía según el puerto y está sujeto a cambios. Algunos puertos ofrecen servicios de transporte gratuitos solo a los centros de las ciudades locales 
      y no al centro principal de la ciudad; otros ofrecen este servicio con un costo
    </h5>
  </ion-content>
</div>
