<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">Los pasaportes son los mejores</h2>
    </ion-item>
    <h5 class="titulo">
      El pasaporte es el mejor documento de identidad para viajar. Asegúrate de que el tuyo no caduque hasta 6 meses después de que finalice tu crucero.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">Precaución: certificados de nacimiento</h2>
    </ion-item>
    <h5 class="titulo">
      Los ciudadanos estadounidenses pueden viajar con un certificado de nacimiento estadounidense en la mayoría de los viajes desde EE. UU., 
      pero su certificado de nacimiento debe cumplir con los requisitos.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">Los nombres deben coincidir</h2>
    </ion-item>
    <h5 class="titulo">
      Si le cambiaron el nombre y el nombre utilizado en sus documentos no coincide, deberá dar un paso adicional
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">Navegando con niños que no son tuyos</h2>
    </ion-item>
    <h5 class="titulo">
      Cuando un menor (de 17 años o menos) viaja sin su tutor legal, un adulto acompañante debe presentar un formulario notariado firmado por el tutor del niño.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">Es posible que se requieran visas</h2>
    </ion-item>
    <h5 class="titulo">
      Algunos países requieren una visa de entrada o visa electrónica según su nacionalidad.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">No empaques tus documentos</h2>
    </ion-item>
    <h5 class="titulo">
      Mantenga todos los documentos de viaje consigo en la terminal; tendrás que presentarlos en el check-in
    </h5>
  </ion-content>
</div>
