<ion-menu contentId="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button [routerLink]="['/pagina-principal']">
        <ion-label>Pagina Principal</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/preguntas-frecuentes']">
        <ion-label>Preguntas frecuentes</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/guias-cruceros']">
        <ion-label>Guías de Cruceros</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/main']">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Guias de Cruceros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
      <ion-item color="primary">
        <h2 class="align-center">KESHI YENA Y CURAZAO AZUL EN LA ISLA DE CURAZAO</h2>
      </ion-item>
      <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/willemstad-curacao/blue-hawaiian-drink-cocktail-woman-drinking-curacao-liqueur.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Una visita a la colorida isla de Curazao es un festín para todos los sentidos y no solo para tu paladar. <br>Tal vez la mejor manera de tener una idea de 
        la cultura es sumergirse de lleno en su auténtica cocina caribeña. <br>Hay muchas influencias en la isla, incluidas la neerlandesa, la afrocaribeña 
        y la venezolana, lo que crea una amplia variedad de sabores en cada plato. Simplemente no puedes dejar de probar el plato típico, keshi yena. <br>
        Keshi yena representa a la perfección el crisol de culturas que es Curazao. <br>Con los neerlandeses llegó el aprecio de la isla de los quesos: 
        ruedas de queso, para ser precisos. <br>Los ricos disfrutaban de sus ruedas de queso premium y daban las sobras a los trabajadores. <br>De las sobras, 
        los trabajadores quitaban todos los restos de plástico del queso, sumergían las cortezas en agua para suavizarlas, preparaban un relleno con otros tipos de sobras, 
        como carnes y verduras, y cocían todos los ingredientes juntos al vapor, lo que dio origen al keshi yena.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">SANCOCHO EN REPÚBLICA DOMINICANA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/ports/la-romana-dominican-republic/cuisine/pork-tripe-stew-dominican-food.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Al igual que la ropa vieja, el sancocho es originario de las Islas Canarias y se considera auténtica gastronomía del Caribe. <br>Pasó por Colombia y Ecuador antes de, 
        finalmente, llegar a República Dominicana. <br>En República Dominicana, encontrarás varias versiones diferentes 
        del estofado de siete carnes, las que dependerán de la preparación y la región.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">PRUEBA EL "OIL DOWN" EN GRANADA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/southern-caribbean/grenada-oil-down-spices.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        El "oil down", un plato presente en la cena y en reuniones especiales como el Carnaval anual, siempre reúne a las personas. <br>
        Prácticamente todas las carnes y verduras incluidas en el guiso demuestran los orígenes de la cultura de Granada. <br>
        Para preparar este delicioso plato se usa la técnica de "llenado de la olla". <br>Normalmente, el fruto del pan y la carne van al fondo de la olla, 
        las verduras en el centro y las hojas de calalou y los bocadillos de masa hervida en la parte superior. <br>
        Luego, el plato se sazona perfectamente con cúrcuma. <br>"Oil down" recibe su nombre de la mezcla de aceite de coco y jugos de la carne que queda 
        al final de la olla. <br>Cuando se trata de la auténtica gastronomía del Caribe, no puedes dejar de probar este plato.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">AKI Y BACALAO EN JAMAICA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/content/destinations/jamaica/ackee-and-saltfish-traditional-jamaican-dish.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Este ejemplo de la gastronomía del Caribe es históricamente un plato que se sirve en el desayuno en Jamaica y cuyo origen data del siglo XVIII. <br>
        El aki es una fruta originaria de África Occidental y llevada al caribe en el siglo XVIII. <br>
        Tradicionalmente este plato típico lleva bacalao, ya que otros pescados aceitosos no funcionarán para la receta debido al proceso de secado. <br>
        Una vez que completado el secado del bacalao, el pescado se enjuaga, se corta en cubos y se agrega al aki hervido. <br>
        Una vez que la fruta y el pescado se saltean juntos, se agregan otros ingredientes como pimientos habaneros, cebollas y tomates, para una combinación de sabores deliciosa.
      </h5>
      <p></p>
  </ion-content>
</div>