<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas1']">
      <ion-title>Requisitos de embarque</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas2']">
      <ion-title>Check-In</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas3']">
      <ion-title>RoyalUp</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas4']">
      <ion-title>Políticas de cancelaciones y pagos</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas5']">
      <ion-title>Crown and Anchor Society</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas6']">
      <ion-title>Perfect Day at CocoCay</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas7']">
      <ion-title>Equipaje y código de vestimenta</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas8']">
      <ion-title>Paquetes de bebidas</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas9']">
      <ion-title>Embarque y transporte</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas10']">
      <ion-title>Internet a bordo</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas11']">
      <ion-title>Ubicación de la terminal</ion-title>
    </ion-item>
    <ion-item color="primary" class="titulo" [routerLink]="['/preguntas12']">
      <ion-title>Documentación de Viaje</ion-title>
    </ion-item>
  </ion-content>
</div>