<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué es el Perfect Day at CocoCay?</h2>
    </ion-item>
    <h5 class="titulo">
      Perfect Day at CocoCay es un destino privado exclusivo para huéspedes de Royal Caribbean, ubicado en las Bahamas. 
      Encontrarás infinitas formas de relajarte y disfrutar de hermosas playas y aguas cristalinas, además de experiencias emocionantes como el increíble Thrill Water Park, 
      tirolesa y todos los deportes acuáticos que puedas imaginar.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Puedo pasar la noche en Perfect Day at CocoCay? ¿Hay alguna actividad nocturna?</h2>
    </ion-item>
    <h5 class="titulo">
      En este momento no tenemos pernoctaciones en Perfect Day at CocoCay. Los huéspedes que deseen experimentar más de Perfect Day at CocoCay pueden considerar nuestros 
      viajes de dos paradas en Perfect Day para disfrutar del doble de emoción y relajación en una escapada corta.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Hay acceso a Internet Wi-Fi de alta velocidad en Perfect Day At CocoCay?</h2>
    </ion-item>
    <h5 class="titulo">
      Lo hay, y si compraste un paquete de Internet de alta velocidad VOOM, puedes usarlo en la isla y comenzar a compartir tus recuerdos de inmediato.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Hay taquillas disponibles para alquilar en Perfect Day at CocoCay?</h2>
    </ion-item>
    <h5 class="titulo">
      Complimentary lockers are available throughout the island. You'll also find complimentary freshwater showers, and restrooms, available on the island.
    </h5>
  </ion-content>
</div>
