<ion-menu contentId="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button [routerLink]="['/pagina-principal']">
        <ion-label>Pagina Principal</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/preguntas-frecuentes']">
        <ion-label>Preguntas frecuentes</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/guias-cruceros']">
        <ion-label>Guías de Cruceros</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/main']">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Guias de Cruceros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
      <ion-item color="primary">
        <h2 class="centrar">1. A JUGAR EN SEAPLEX</h2>
      </ion-item>
      <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/playmaker/playmakers-bumper-cars-dinner.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        SeaPlex, el espacio de actividades bajo techo más grande en alta mar, es esencial en todos los barcos de la Clase Quantum, 
        pero el que está a bordo del Odyssey of the Seas lleva el tiempo de juego a un nivel completamente nuevo. <br>
        Alberga una cubierta superior reinventada que presenta el salón de videojuegos más interactivo que jamás haya zarpado. <br>
        Aquí encontrarás de todo, desde juegos clásicos hasta la primera experiencia de realidad virtual 4D de itinerancia libre y totalmente inmersiva en alta mar, Zone Zero. <br>
        Además de un PlaymakersSM Sports Bar & Arcade, que ofrece los favoritos del día del juego con vistas privilegiadas de toda la acción bajo la arena de los autos de choque. <br>
        Atención: esta también se transforma en una pista de patinaje y en el escenario de batallas épicas con pistolas de luces láser que brillan en la oscuridad.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">2. PREPÁRATE PARA UNA BATALLA ÉPICA CON PISTOLAS DE LUCES LÁSER EN CLASH FOR THE CRISTAL CITY</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/laser-tag/oasis-of-the-seas-laser-tag-clash-for-crystal-city-friends.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        SeaPlex a bordo del Odyssey of the Seas también es hogar del más reciente enfrentamiento con pistolas láser que brillan en la oscuridad: Clash for the Crystal City. <br>
        Si eres lo suficientemente valiente como para prepararte para esta experiencia que subirá tu adrenalina, podrás enfrentarte cara a cara contra Yetis o 
        Snowshifters mientras compites para reclamar una ciudad de hielo mítica y salvar a tu clan de la extinción.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">3. PRACTICA EN EL FLOWRIDER</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/flowrider/flowrider-surf-simulator-instructor-man-day-activity.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        En lo que respecta a las atracciones icónicas de la cubierta superior, el FlowRider es, por lejos, una de las más populares entre nuestros huéspedes. <br>
        En este simulador de surf de 12 metros de largo circulan 113.562 litros de aguas torrentosas que recorren una plataforma inclinada, 
        lo que proporciona olas excelentes durante todo el día para cualquiera que busque practicar sus habilidades en el surf. <br>
        Puedes dominar la marea con tus pies como un profesional, deslizarte sobre tu vientre sobre el oleaje o ver las caídas desde los asientos del estadio. <br>
        Sin embargo, elijas lo que elijas, prepárate para mojarte.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">4. ÚNETE A UNA CARRERA INTERDIMENSIONAL PARA SALVAR EL UNIVERSO EN LA ZONA DE AVENTURA VIRTUAL</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/virtual-reality/virtual-reality-zone-zero-royal-caribbean.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        El Odyssey of the Seas alberga Virtual Adventure Zone, la primera experiencia de realidad virtual 4D de itinerancia libre y totalmente inmersiva en alta mar. <br>
        Cuando entres a este espacio revolucionario, podrás prepararte para una aventura completamente nueva, no hay nada igual en este planeta ni en ningún otro. <br>
        Como el nuevo recluta de una organización ultrasecreta encargada de proteger el universo, tendrás que viajar a través de agujeros de gusano a dimensiones 
        que nunca soñaste que existirían, deambulando, explorando e interactuando virtualmente con el entorno que te rodea. <br>Tu misión: salvar nuestra realidad 
        y todos los demás mundos de las fuerzas que buscan alterar el tiempo y el espacio.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">5. SALTA A UN MUNDO VIRTUAL EN SKY PAD</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/skypad/skypad-kid-jumping-virtual-goggles.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        No importa cuántos viajes hayas hecho, nada se acerca a lo que puedes esperar una vez que subes a Sky Pad. <br>Esta experiencia de trampolín Bungee 
        combina diversión de alto vuelo con tecnología de punta y emociones de realidad virtual. <br>Una vez que estés sujeto, estarás equipado con un casco 
        de realidad virtual que sirve como portal a múltiples mundos, desde un país de las maravillas de dulces recubiertos de azúcar hasta un planeta a 
        años luz en el futuro. <br>Además de nuestro juego más interactivo a la fecha, el nuevo Croak's Wild Adventures, exclusivamente en el Odyssey of the Seas. <br>
        Entre desafíos, si prefieres algo más sereno, pero igualmente emocionante, pasea por la pasarela de cristal para obtener las mejores vistas de todo 
        lo que ocurre a tu alrededor y el majestuoso océano que se rinde a tus pies.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">6. DISFRUTA DE LAS VISTAS DESDE NORTH STAR</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/north-star/north-star-deck-ocean-view.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Cuando navegas con nosotros, cada experiencia se trata de elevar el nivel y crear momentos inolvidables. <br>Uno de los mejores ejemplos de esto es North Star, 
        una cápsula de observación que te eleva a más de 90 metros sobre el nivel del mar para que puedas disfrutar de vistas panorámicas del entorno. <br>
        Posee el récord mundial Guinness como la plataforma de observación más alta de un crucero, y definitivamente debe estar en la lista de atracciones 
        a bordo que debes probar durante tu aventura en el Odyssey of the Seas.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">7. DISFRUTA DEL SOLA Y LA SERENIDAD JUNTO A LA PISCINA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/activity/ripcord-by-ifly/ripcord-ifly-couple-flying-mid-air.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        No tienes que saltar de un avión para experimentar la emoción de una caída libre. <br>RipCord by iFLY, el único simulador de paracaidismo en alta mar, 
        te permite sentir el viento en el cabello y la adrenalina corriendo por tus venas mientras flotas ingrávido en el aire. <br>
        Esta emocionante atracción a bordo también es totalmente apta para niños, por lo que todos en la familia pueden ser parte de la diversión que desafía la gravedad.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">8. DISFRUTA DE LA MÚSICA EN MUSIC HALL</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/experiences/music-hall/music-hall-rock-band-stage.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Escucha algunas de las mejores bandas de covers del negocio de la música en Music Hall, un lugar de conciertos de varios niveles 
        donde el ambiente siempre está animado y las presentaciones siempre están a la altura de las expectativas. <br>
        Puedes bailar al ritmo de la música en la pista de baile y disfrutar de las vistas del escenario en primera fila, o 
        disfrutar de la música desde el bar o la zona del salón más apartada. Desde música disco hasta country y rock clásico, todos los espectáculos aquí son de otro mundo.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">9. VIVE LA ATMÓSFERA ISLEÑA EN THE LIME & COCONUT</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/onboard/food-and-beverage/lime-coconut/navigator-of-the-seas-lime-and-coconut-friends-enjoying-drinks.jpg?$1040x520$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Ninguna escapada de crucero de isla en isla está completa sin un bar tropical, y ahí es donde entra The Lime and Coconut. <br>
        No importa en qué parte del mundo estés navegando a bordo del Odyssey of the Seas, este lugar de varios niveles que se encuentra 
        junto a la piscina marca el ambiente caribeño con refrescantes cócteles tropicales en dos bares, música en vivo y DJ, y muchas oportunidades 
        para relajarse y disfrutar del sol. Por la noche, este lugar junto a la cubierta cobra vida y se transforma en el mejor escenario tropical.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">10. DESLUMBRA TODOS TUS SENTIDOS EN TWO70</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/dining/two-70-bar/two-70-bar-night-life-activity.jpg?$750x420$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Te damos la bienvenida a Two70: un entorno capaz de trasladarte a mil lugares diferentes. <br>Un espacio tecnológico de vanguardia que puede transformar 
        270º de ventanas de dos pisos ante tus propios ojos. <br>Un momento estás observando las vistas panorámicas al mar y, al siguiente, te hallas en un sitio 
        totalmente diferente, en un enclave distinto del mundo o en cualquier otro lugar nunca antes imaginado. <br>Y al caer la noche, el espacio vuelve a 
        transformarse en un teatro multimedia con robots de 36 ejes, deslumbrantes efectos visuales en 12K y algunos de los equipamientos escénicos más innovadores jamás vistos.
      </h5>
      <p></p>
  </ion-content>
</div>