<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Por qué no está disponible el check-in para mi crucero?</h2>
    </ion-item>
    <h5 class="titulo">
      Estamos trabajando para mejorar nuestra experiencia de check-in para respaldar un crucero saludable y seguro para todos los huéspedes, la tripulación y 
      las comunidades donde operamos. El check-in estará disponible una vez que se completen nuestras actualizaciones antes de su navegación. 
      Le notificaremos por correo electrónico y mediante notificación de la aplicación en su dispositivo móvil cuando llegue el momento de registrarse en su crucero.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cuándo puedo hacer el check-in para mi crucero?</h2>
    </ion-item>
    <h5 class="titulo">
      Cuando llegue el momento de realizar el check-in, te recomendamos utilizar la aplicación de Royal Caribbean para registrar a todos los huéspedes de tu reserva. 
      La aplicación proporciona un proceso de registro rápido y sencillo para que pueda comenzar sus vacaciones antes. Las actualizaciones incluyen: 
      Su hora de llegada a la terminal: hora de llegada programada a la terminal en su fecha de salida 
      El cuestionario de salud requerido: solo disponible por adelantado en la aplicación 
      Nuestra sesión informativa de seguridad reinventada: simplemente toque el ícono de seguridad en la página de inicio para iniciar la sesión informativa de seguridad, 
      ya sea que esté en la terminal o recién haya subido a bordo, para completar los primeros pasos de la sesión informativa de seguridad antes de dirigirse a su estación 
      de ensamblaje asignada. Recuerde que todos los huéspedes deben completar la sesión informativa de seguridad antes de que el barco pueda zarpar. 
      Ventana de registro de aplicación ampliada: regístrese usando la aplicación hasta las 8 a. m. de la mañana de su navegación 
      Como antes, los huéspedes también pueden realizar el check-in a través de nuestro sitio web hasta 48 horas antes de zarpar. 
      Sin embargo, los huéspedes deben completar el check-in mediante la aplicación o en la terminal. Recomendamos encarecidamente 
      completar el check-in usando la aplicación para obtener la experiencia de check-in más fácil, rápida y completa. 
      Royal Caribbean International requiere que los huéspedes se registren a más tardar 60 minutos antes de la hora de salida programada. 
      Los huéspedes que lleguen tarde no podrán navegar. 
      Cuando realice el check-in en la terminal, muestre su SetSail Pass en la aplicación al agente de la terminal para escanearlo y completar el proceso de check-in.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué documentación necesito para hacer el check-in?</h2>
    </ion-item>
    <h5 class="titulo">
      Para completar el Check-In con éxito, necesitará lo siguiente:
    </h5>
    <h5 class="titulo">
      Información personal de cada huésped que se registra
    </h5>
    <h5 class="titulo">
      Información del documento de identificación de cada huésped que esté registrando.
    </h5>
    <h5 class="titulo">
      Número de membresía de Crown & Anchor Society (si es miembro)
    </h5>
    <h5 class="titulo">
      Planes de viaje futuros
    </h5>
    <h5 class="titulo">
      Información de la cuenta de gastos a bordo (es decir, la tarjeta de crédito y la información de la reserva que está autorizada a cargar en la cuenta)
    </h5>
    <h5 class="titulo">
      También deberá establecer una cuenta de gastos a bordo mediante tarjeta de crédito o efectivo.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Dónde puedo encontrar los documentos de mi reserva de crucero?</h2>
    </ion-item>
    <h5 class="titulo">
      Si los documentos de su crucero están disponibles, puede acceder a ellos a través del panel de reservas en su cuenta de huésped. 
      Si sus documentos aún no están disponibles, vuelva a consultar pronto. También debería recibir un correo electrónico cuando sus documentos estén listos. 
      Si reserva sus vacaciones en crucero en línea, recibirá los documentos del crucero por correo electrónico con instrucciones de descarga cuando sus documentos estén listos. 
      Si reserva su crucero con un asesor de viajes o un planificador de vacaciones certificado, los documentos de su crucero se enviarán a su asesor de viajes entre 20 y 
      50 días antes de zarpar, suponiendo que su reserva esté finalizada y se hayan realizado sus pagos. 
      Los documentos grupales y aquellos que incluyen arreglos aéreos requieren pasos adicionales y se enviarán dentro de los 30 días posteriores a la salida. 
      Es posible que no se proporcione la documentación con anticipación para las reservas finalizadas la semana de la navegación; 
      los huéspedes obtendrán los detalles pertinentes en el muelle antes de embarcar y una vez a bordo. Si tiene alguna pregunta, 
      comuníquese directamente con su asesor de viajes o planificador de vacaciones certificado.
    </h5>
  </ion-content>
</div>