<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué es un paquete de bebidas de Royal Caribbean?</h2>
    </ion-item>
    <h5 class="titulo">
      Sacia tu sed a bordo con un paquete de bebidas que te ofrece el mejor valor en tus bebidas favoritas, desde Coca-Cola® hasta vinos finos, 
      cócteles premium y helados y una selección completa de cervezas, jugos de frutas y agua.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Las propinas están incluidas en el costo del paquete de bebidas de Royal Caribbean?</h2>
    </ion-item>
    <h5 class="titulo">
      Sí. Excepto donde lo prohíba la ley, se agregará automáticamente una propina del 18 % a la compra previa al crucero o a bordo de un paquete de bebidas.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Cómo compro un paquete de bebidas de Royal Caribbean?</h2>
    </ion-item>
    <h5 class="titulo">
      Puede comprar un paquete de bebidas hasta 72 horas antes de zarpar, en línea en Cruise Planner de Royal Caribbean. O puedes comprarlo a bordo, el primer día de tu crucero.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué son las máquinas Coca-Cola® Freestyle?</h2>
    </ion-item>
    <h5 class="titulo">
      La máquina de estilo libre Coca-Cola® dispensa más de 100 combinaciones diferentes de refrescos y sabores en un paquete fácil de usar. 
      Los huéspedes que tengan un paquete de refrescos prepago y utilicen su vaso souvenir de Coca-Cola de cortesía podrán utilizar las máquinas Coca-Cola® Freestyle.
    </h5>
  </ion-content>
</div>
