<div class="ion-page" id="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Guias de Cruceros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
      <ion-card [routerLink]="['/guia1']">
        <img class="img" src="https://www.royalcaribbean.com/content/dam/royal/international/promotions/2022/january/flash-sale-4/emea/RCI_FS4_Jan22_Web-Hero-1920x960.jpg"/>
        <ion-card-header>
          <ion-card-title>Tu Guía De Cruceros Por Europa Con Todo Incluido</ion-card-title>
          <ion-card-subtitle>7 de Febrero de 2023</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Descubre todo lo que se incluye a bordo de tu crucero épico
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/guia2']">
        <img class="img" src="https://www.royalcaribbean.com/content/dam/royal/ports-and-destinations/destinations/iceland/iceland-the-blue-lagoon-geothermal-spa-bridge-over-blue-water.jpg"/>
        <ion-card-header>
          <ion-card-title>Los 10 Mejores Destinos Para Unas Vacaciones Románticas</ion-card-title>
          <ion-card-subtitle>7 de Febrero de 2023</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Navegue a las ciudades europeas más románticas y los mejores destinos de luna de miel europeos
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/guia3']">
        <img class="img" src="https://www.royalcaribbean.com/content/dam/royal/data/ports/paris-france/overview/france-paris-couple-arc-triomphe.jpg"/>
        <ion-card-header>
          <ion-card-title>Las Mejores Vacaciones De Verano En Europa</ion-card-title>
          <ion-card-subtitle>7 de Febrero de 2023</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Vive las mejores vacaciones de verano en Europa
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/guia4']">
        <img class="img" src="https://www.royalcaribbean.com/content/dam/royal/data/activity/skypad/skypad-daytime-girl-jumping.jpg"/>
        <ion-card-header>
          <ion-card-title>Las 10 Mejores Actividades Que Puedes Hacer</ion-card-title>
          <ion-card-subtitle>7 de Febrero de 2023</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Estas son las 10 mejores cosas que puedes hacer en el Odyssey of the Seas
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/guia5']">
        <img class="img" src="https://www.royalcaribbean.com/content/dam/royal/data/ports/bridgetown-barbados/barbados-bridgetown-historic-homes.jpg"/>
        <ion-card-header>
          <ion-card-title>Descubre Los Platos Típicos Del Caribe</ion-card-title>
          <ion-card-subtitle>7 de Marzo de 2023</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          La cocina caribeña es algo que no te puedes perder cuando visites la región
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/guia6']">
        <img class="img" src="https://www.royalcaribbean.com/content/dam/royal/ports-and-destinations/ports/tarragona-spain/things-to-do/spain-tarragona-salou-beach-cala-penya.jpg"/>
        <ion-card-header>
          <ion-card-title>Las 10 Mejores Playas Idílicas Y Romáticas En Europa</ion-card-title>
          <ion-card-subtitle>7 de Marzo de 2023</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Escápese de unas vacaciones ordinarias y en su crucero a los mejores destinos de playa de Europa
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/guia7']">
        <img class="img" src="https://www.royalcaribbean.com/content/dam/royal/data/ports/nice-france/overview/assets/france-family-vacation-cliff-sunset.jpg"/>
        <ion-card-header>
          <ion-card-title>Las 10 Ciudades Europeas Más Increíbles A Las Que Puedes Viajar En Crucero</ion-card-title>
          <ion-card-subtitle>7 de Febrero de 2023</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Embárcate en las ciudades europeas más asombrosas donde siglos de historia se funden
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/guia8']">
        <img class="img" src="https://www.royalcaribbean.com/content/dam/royal/promotions/caribbean/bahamas/Girl-Sunbathing-Nassau-Bahamas-Deals.jpg"/>
        <ion-card-header>
          <ion-card-title>Las 10 Mejores Actividades En El Caribe</ion-card-title>
          <ion-card-subtitle>7 de Febrero de 2023</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Descubre las mejores islas del Caribe, que incluyen Jamaica, Comuzel, Gran Caimán, Belice y Roatán
        </ion-card-content>
      </ion-card>
  </ion-content>
</div>