<ion-menu contentId="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button [routerLink]="['/pagina-principal']">
        <ion-label>Pagina Principal</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/preguntas-frecuentes']">
        <ion-label>Preguntas frecuentes</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/guias-cruceros']">
        <ion-label>Guías de Cruceros</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/main']">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="guia-cruceros">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Guias de Cruceros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
      <ion-item color="primary">
        <h2 class="align-center">PERFECCIONA TUS HABILIDADES FOTOGRÁFICAS</h2>
      </ion-item>
      <ion-img 
      src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/italy/italy-florence-family-walking-old-town-homes.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Independientemente de los destinos de Europa a los que viajes este verano, los meses más cálidos y secos presentan la oportunidad perfecta para practicar tus habilidades 
        fotográficas. <br>Captura la puesta de sol detrás de la emblemática iglesia del Duomo de Florencia desde lo alto del mirador de Piazzale Michelangelo al otro lado del río Arno, 
        o levántate temprano para capturar las casas adosadas de Ámsterdam reflejadas en sus famosos canales antes de que los barcos perturben la quietud perfecta de sus aguas.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">SABOREA LA MEJOR GRASTRONOMÍA DE EUROPA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/athens-greece/cuisine/athens-greece-grilled-octopus.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Puede parecer cruel, dado lo maravilloso que es visitar la playa durante los viajes de verano a Europa, pero esta época del año cálida (y apta para usar bikini) 
        es una de las mejores para satisfacer a tu amante de la gastronomía interior. <br>Siéntate al aire libre en la antigua ciudad papal de Aviñón en Francia 
        y disfruta del exclusivo boeuf tartare (carne de vacuno servida cruda, mezclada con yema de huevo y otros acompañamientos), 
        o come la mejor pasta o pizza de tu vida junto al río Tíber en Roma.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">... Y BEBIDAS</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/italy/glasses-of-wine-in-italy.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Lo más destacado de las vacaciones de verano en Europa, sin importar a qué parte del continente viajes, es una visita a una bodega increíble. <br>
        Si bien las opciones obvias son los viñedos galardonados de la Toscana, cerca de la ciudad italiana de Florencia o Burdeos, y Borgoña en el sur de Francia, 
        decenas de regiones de toda Europa tienen escenas vinícolas florecientes. <br>Haz una excursión de un día desde Belgrado, Serbia, a la ciudad vinícola de Sremski Karlovci, 
        o viaja desde Londres a Cornualles, que podría ser el destino vinícola más sorprendente de Europa. <br>
        Toma un crucero por el río (o simplemente haz el recorrido en automóvil o autobús) hacia el valle del Duero de Portugal, que es la capital europea de la producción 
        de vino de Oporto.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">TOMA UN CRUCERO A ISLAS PARADISÍACAS</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/greece-greek-isles/santorini-greece-sunset.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        No es una sorpresa: muchos de los mejores lugares para visitar en Europa en verano están justo en la costa e involucran directa o indirectamente una playa. <br>
        Tanto ferris públicos como lanchas rápidas privadas circulan entre las islas griegas, donde tienes opciones tradicionales como Miconos y Santorini en las Cícladas, 
        o puedes romper las normas populares y visitar islas como Creta, Corfú y Paros. <br>
        Otro gran destino para disfrutar del sol son las islas ubicadas frente a la costa de Croacia, ancladas en la cautivadora Korčula.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">DISFRUTA DEL RESPLANDOR DEL SOL DE MEDIANOCHE</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/ports-and-destinations/destinations/iceland/assets/stokksnes-iceland-lupine-flowers.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Hablando del Círculo Polar Ártico, uno de los atractivos más especiales de los viajes de verano a Europa es ver fenómenos que solo ocurren en esta época del año, 
        por ejemplo, el sol de medianoche en Escandinavia. <br>La mejor manera de experimentar esto es viajar lo más cerca posible del Círculo Polar Ártico, 
        ya sea a Rovaniemi en Finlandia, Kiruna en Suecia o Akureyri, la ciudad más grande a lo largo de la costa norte de Islandia. <br>
        Si visitas estos lugares en el solsticio de verano, literalmente toda la noche está claro.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">SUDA LA GOTA CON EL EXCURSIONISMO</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/corner-brook-newfoundland/things-to-do/corner-brook-newfoundland-hiking-through-cave.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        ¿Quieres disfrutar de lo mejor de ambos mundos en tus vacaciones de verano en Europa? <br>Dirígete a los Alpes, donde aún encontrarás nieve en las cimas de las montañas, 
        pero donde los senderos están deliciosamente despejados y los lagos cristalinos de la región te invitan a nadar.<br> El lugar más obvio para practicar excursionismo es Suiza, 
        que ofrece cientos de kilómetros de senderos desde destinos tradicionales como Zermatt (donde, en un día despejado, se puede ver Matterhorn) 
        e Interlaken, hasta lugares más apartados como Engelberg y Melchsee-Frutt.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">ESCAPA DE LAS MULTITUDES Y EXPLORA FUERA DEL CIRCUITO TURÍSTICO</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/tallinn-estonia/overview/estonia-tallinn-orthodox-alexander-nevsky-cathedral.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Muchos de los mejores lugares para visitar en Europa en verano son aquellos de los que probablemente nunca hayas oído hablar. <br>
        Por ejemplo, puedes volar desde la ciudad donde llegas a Riga, la puerta de entrada a los hermosos Países Bálticos. <br>
        Quédate en Letonia y visita el Palacio de Rundāle, conocido como el Versalles letón, o viaja a países cercanos como Lituania 
        y Estonia, donde puedes escalar las dunas en el encantador Curonian Spit y pasear por el casco antiguo de Tallin, respectivamente.<br>
        También existen muchos destinos subestimados en el sur de Europa. Vuela a Zagreb o Belgrado para explorar los Balcanes y ver las imponentes 
        mezquitas de ciudades como Mostar y las doradas playas de la ciudad de Split. <br>Como alternativa, dirígete hacia el este hasta Rusia, 
        donde los prístinos palacios de San Petersburgo contrastan con las grandes plazas y los altísimos rascacielos de la subestimada Moscú.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">DISFRUTA DE LA CULTURA Y LA HISTORIA DE EUROPA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/barcelona-spain/overview/spain-barcelona-la-sagrada-familia-couple-walking.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        El clima increíble y el sol brillante de los viajes de verano a Europa lo convierten en la oportunidad perfecta para descubrir la cultura en el continente. <br>
        Apúntate a una visita guiada a pie por el monte Palatino o el barrio culinario de Trastevere en Roma, o recorre los tesoros de Antoni Gaudí en Barcelona, 
        ya sea que explores las entrañas de la ornamentada Iglesia de la Sagrada Familia o que ascienda al mirador del Parque Güell, donde el arte de vanguardia 
        se combina con una de las mejores puestas de sol de Europa.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="align-center">HAZ UN VIAJE POR CARRETERA ÉPICO POR EUROPA</h2>
      </ion-item>
      <ion-img 
        src="https://assets.dm.rccl.com/is/image/RoyalCaribbeanCruises/royal/data/ports/lisbon-portugal/overview/lisbon-portugal-belem-tower.jpg?$1920x1080$">
      </ion-img>
      <p></p>
      <h5 class="align-center">
        Aunque el continente alberga una de las redes de trenes más extensas y convenientes del mundo, solo es posible acceder a muchos de los mejores lugares 
        para visitar en Europa en verano en automóvil. <br>Uno de los viajes por carretera más populares de Europa es aquel en el que alquilas un automóvil en Florencia 
        y exploras los hermosos pueblos pequeños de la Toscana. <br>Del mismo modo, un automóvil es la mejor manera de descubrir el Algarve, 
        la impresionante franja de playas y pueblos encalados a lo largo de la costa sur de Portugal.
      </h5>
      <p></p>
      <ion-item color="primary">
        <h2 class="centrar">SIMPLE Y DULCE</h2>
      </ion-item>
      <h5 class="align-center">
        Mucha gente planea sus vacaciones de verano en Europa con la intención de reinventar la rueda, ya sea para escapar de las multitudes, 
        deslumbrar a sus seguidores en redes sociales o simplemente mantenerse activos. <br>Sin embargo, si puedes lidiar con unos pocos turistas 
        (o algunos miles de ellos) y no te importa cómo los extraños en Internet perciben tu viaje, ¿por qué no centrarse en los clásicos? <br>
        Pasa dos semanas en Europa, por ejemplo, recorriendo capitales como Londres, París, Roma, Madrid y Berlín.<br>
        Puedes aplicar esta misma estrategia a los viajes a Europa centrados en la naturaleza. <br>Los senderos de los Alpes y las aguas 
        vírgenes de los fiordos de Noruega son lugares muy concurridos durante el verano, pero esto ocurre por una muy buena razón. <br>
        Del mismo modo, aunque las islas de la cadena de las Cícladas de Grecia (es decir, Santorini y Miconos) tienen más visitantes 
        cuando las temperaturas son más altas, vale la pena visitarlas en el verano.
      </h5>
      <p></p>
  </ion-content>
</div>