<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preguntas Frecuentes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Qué opciones de Internet están disponibles a bordo de los cruceros de Royal Caribbean?</h2>
    </ion-item>
    <h5 class="titulo">
      Hay 2 opciones para mantenerse conectado mientras está a bordo. 1. Acceso inalámbrico a Internet VOOM (Wi-Fi) Todo lo que necesita es un dispositivo inalámbrico con capacidad wifi. 2. Hay estaciones de Internet por cable (iCafes) disponibles a bordo.
    </h5>
    <ion-item color="primary">
      <h2 style="text-align: center">¿Puedo usar mi paquete de Internet Wi-Fi en Perfect Day at CocoCay?</h2>
    </ion-item>
    <h5 class="titulo">
      ¡Sí! El paquete de Wi-Fi comprado a bordo o en Cruise Planner estará activo en la isla.
    </h5>
    <ion-item color="primary">
      <h2 class="centrar">¿Qué es VOOM?</h2>
    </ion-item>
    <h5 class="titulo">
      VOOM es el nombre de nuestro servicio de Internet de alta velocidad, el Internet más rápido en el mar. 
      Con la instalación de VOOM, ya no estás confinado a una ubicación específica del barco para tener conectividad. Ahora puedes permanecer conectado en todas partes
    </h5>
  </ion-content>
</div>
