.titulo{
    text-align: center;
    margin: 20px;
}

.negrita{
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.centrar{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    margin: 12px;
    text-align: center;
}